extends ../layout

block content
  h1 Global overview
  section.adminoverview
    ul
      li #[a(href="/admin/users") Users]
      li #[a(href="/admin/subscriptions") Subscriptions]
      li #[a(href="/admin/invitations") Invitations]
