extends ../layout

block content
  h1 Send Notifications
  section
    form(id='messageForm', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      //- Channel URL
      div
          label(for='channelUrl') Channel url:
          input(type='text', name='channelUrl', id='channelUrl')
      //- Message for Channel
      div
          label(for='message') Message:
          textarea(id="message" name="message" maxlength='500' rows="10" cols="70")
      div
        button(type='submit') Send Message