extends ../layout

block content
  h1 Reset Password
  section
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      div
        label(for='password') New Password:
        input(type='password', name='password', id='password', autofocus, required)
      div
        label(for='confirm') Confirm Password:
        input(type='password', name='confirm', id='confirm', required)
      div
        button(type='submit')
          span.fas.fa-keyboard-o
          |
          | Change Password
