extends ../layout

block content
  h1 Sign Up
  section
    form(id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      //- div
      //-   label(for='channelName') Display Name:
      //-   input(type='text', name='channelName', id='channelName', placeholder='The name that shows up for your channel', autofocus, minlength=3, maxlength=25, required)
      div
        label(for='channelUrl') Channel Username:
        input.username(type='text', name='channelUrl', id='channelUrl', autofocus, required placeholder='Please choose your channel username')
      div
        label(for='password') Password
        input.firstPasswordInput(type='password', name='password', id='password', placeholder='Please enter your password', required)
      div
        label(for='confirmPassword') Confirm Password
        input.confirmPasswordInput(type='password', name='confirmPassword', id='confirmPassword', placeholder='Please confirm your password', required)

      if captchaOn == true
        div
          label(for='captcha') Captcha
          div.g-recaptcha(data-sitekey=`${recaptchaPublicKey}` id='captcha')

      //- var regex = new RegExp("^[a-zA-Z]+$");

      div
        p By signing up you are agreeing you have read and agree to the
          a(href="/termsofservice") Terms Of Service
      div
        button.btn.btn-success(type='submit')
          i.fas.fa-user-plus
          |
          | Signup

  script.
    $('#signup-form').submit(function (evt) {

      var username = $('.username').val();

      if (!/^\w+$/.test(username)) {
         evt.preventDefault();
         swal('Please only use letters, numbers and underscores (no spaces) in your username');
      } else {
        /** form will submit properly **/
      }

      if (username.length > 20 || username.length < 3 ) {
        evt.preventDefault();
        swal('Please make sure your username is between 3 and 20 characters');
      } else {
        /** form will submit properly **/
      }

    });