//- semantic `<blockquote>` which also exposes the `<cite>` URL
mixin semQuote(url, source)
  figure
    figcaption As per
      a(href=url)#[cite #{source}]
    | :
    blockquote(cite=url)
      block quote