@import "themes/gsdk/gsdk";
@import "themes/modern/variables";
@import "themes/default/variables";
@import "themes/flatly/variables";
@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "themes/default/default";

/* Generic selectors */

:root {
  --font-size-base: 16px;

  --colour0-primary: hsl(0, 0%, 20%);
  --colour0-secondary: hsl(0, 0%, 80%);

  --colour-base: 0;
  // TODO: fill out colours
  --colour1-primary: "";
  --colour1-secondary: "";
  --colour2-primary: "";
  --colour2-secondary: "";
  --colour3-primary: "";
  --colour3-secondary: "";
  --colour4-primary: "";
  --colour4-secondary: "";
  --colour5-primary: "";
  --colour5-secondary: "";
  --colour6-primary: "";
  --colour6-secondary: "";

  --colour-positive: hsl(120, 100%, 50%);
  --colour-negative: hsl(0, 100%, 50%);
  --colour-submit: hsl(240, 100%, 50%);
}

html {
  min-height: 100%;
  font-size: var(--font-size-base);
  line-height: 1.15;
  font-family: 'Helvetica Neue', 'Inter', Arial, sans-serif;
}

body {
  height: 100%;
  color: var(--colour0-primary);
  background-color: var(--colour0-secondary);
}

textarea {
  resize: vertical;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 
    0 0 5px #ccc, 
    inset 0 0 0 #000;
}

/* Global header */

.singleLetter {
  color: #0FDA01;
  font-size: 30px;
  font-weight: 900;
}

input:focus {
  border: 1.1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .4);
}

.postButton,
.search-uploads-button {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

/* Global footer */

.gfooter {
  color:#aaa;
  text-decoration:underline;
}

/* nodetube.css */

  @import url('https://rsms.me/inter/inter.css');

  html {
      font-family: 'Inter', sans-serif;
  }

  @supports (font-variation-settings: normal) {
      html {
          font-family: 'Inter var', sans-serif;
      }
  }

  .navbar-default .navbar-nav > li > a {
      color: white;
  }

  .view-header {
      display: inline;
  }

  /* 70 : 39 aspect ratio */

  .border-preview {
      border: 1px solid black;
  }

  .upload-title {
      height: 89px;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      width: 80%;
      margin: 0 auto;
  }

  .title-anchor {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: red;
  }
  }

  .upload-title-text {
    color: #bcbcbc;
    text-align: center;
    margin: 0;
    margin-top: 8px;
    overflow: hidden;

    font-weight: 300;

    &:hover {
      text-decoration: none
      /*color:black;*/
    }
  }

  .upload-user-text {
    color: #c7c7c7 !important;
    /*text-decoration:underline;*/

    &:hover {
      color: black;
    /*text-decoration:underline;*/
    }
  }

  .search-upload-buttons-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;

    @media (min-width: 480px) {
      grid-auto-flow: column;
    }
  }

  .upload-details {
    width: 90%;
    margin: 0 auto;
  }

  .views {
    display: -webkit-flex;
    display: flex;
  }

  .views-text {
    text-align: center;
    margin: auto;
    color: rgba(0, 0, 0, 0.7);
  }

  .change-size-button {
    display: inline-block;
  }

  .unclicked-emoji img {
    opacity: 0.5;
  }

  /*.centerDropdown {*/
  /*left: auto !important;*/
  /*right: -25% !important;*/
  /*}*/
  /*.centerDropdown:after {*/
  /*left: auto !important;*/
  /*right: 45% !important;*/
  /*}*/

  .dropdown-menu > li > a {
    color: #333333;
  }

  .vjs-slider {
    height: 15px;
  }

  .plyr.plyr--video {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
  }

  .plyr.plyr__video-wrapper {
    background: white;
  }

  .preview-image {
    width: inherit;
    max-width: 405px;
    height: 210px;
    max-height: 210px;
    border-radius: 7px;
    max-width:100%;
    /*border:1px solid white;*/
  }

  .fw {
    font-weight: 300;
  }

  .dropdown-anchors {
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    transition: all 0.2s linear !important;
    color: white !important;
    font-weight:500 !important;

    &:hover {
      color: #4da5f4 !important;
      background-color: transparent;
    }
  }

  /* Dark mode: */
  .dark-mode {
    background-color: #141414 !important; //#1a1a1c; //rgba(11, 11, 12, 1); //#181817; //#292322; //rgb(40,44,52); rgb(33,37,43);
    color: darkgray !important;
  }

  /* Light mode: */
  .light-mode {
    background-color: #fff !important; //#1a1a1c; //rgba(11, 11, 12, 1); //#181817; //#292322; //rgb(40,44,52); rgb(33,37,43);
    color: black !important;
  }

  /* changes the dark mode button to look like a link*/
  .link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    outline:none;
    /*optional*/
    /*font-family: arial, sans-serif;*/
    /*input has OS specific font-family*/
    /*color: #069;*/
    /*text-decoration: underline;*/
    cursor: pointer;
  }

  .headroom--pinned {
    display: block;
  }

  .headroom--unpinned {
    display: none;
  }

  .upload-thumbnail {
    display: block;
  }

  .image-container {
    display:inline-block;
    border:1px solid #5b5a5a;
    margin:0 auto;
    overflow:hidden;
    border-radius:13px;
  }

  .upload-thumbnail:hover {
    /*transform: scale(1.05) translate(0px, 30px);*/

    transform: scale(1.12);

    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }

  .upload-thumbnail {
      transition: transform .7s ease;
  }

  .plyr.plyr--video {
    resize: both;

    /*0.2*/
    /*max-width: 97.5vw;*/
    /*max-height: 98vh;*/

    /*height: 82vh;*/

    /* 0.1 */
    /*width: 1409px;*/
    /*height: 799px;*/
  }

  .brandName {
    font-family: inherit;
  }

  .display-element {
    border-bottom: 1px solid #313131;

    /*TODO: this should be the height of the */
    /*max-height: 625px;*/

    /* turning off the border */
    /*border: 1px solid #5b5a5a;*/
  }
