//@import "themes/gsdk/gsdk";
//@import "themes/modern/variables";
@import "themes/default/variables";
//@import "themes/flatly/variables";
@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "themes/default/default";


html {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

// Inherit box sizing from base to everything else 
*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  background-color: #FAFAFA;
  padding-top: 60px;
}

main {
  flex: 1 1 auto;
  padding: 1em;
}


h1 {
  text-align: center;
  text-transform: capitalize;
}

textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE 10+.
  resize: vertical;
}

/* END Forms */

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.alert {
  margin-top: 20px;
}

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 381px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

/*body {*/
/*margin: 30px;*/
/*}*/

.headerContainer {
  padding: 0px;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 600px;
  height: 36px;

  background: #fcfcfc;
  border: 1px solid #aaa;
}

.search input {
  text-indent: 9px;
}

.singleLetter {
  display: none;
  color: #0FDA01;
  font-size: 30px;
  font-weight: 900;
  margin-top: 28px;
  position: absolute;
  top: -30px;
}

/*.formSpan {*/
/*color: grey;*/
/*position: absolute;*/
/*right: -78px;*/
/*top: -1px;*/
/*background-color: #eaeaea;*/
/*padding: 10px 26px;*/
/*border: 1px solid #cec0c0;*/
/*}*/

/* ===========================
    ====== Medua Query for Search Box ======
    =========================== */

/** post button starts to hit search bar **/
@media (max-width: 753px){
  /*input[name="searchValue"] {*/
  /*display: none;*/
  /*}*/

  .postButton {
    display: none !important;
  }

  .postIcon {
    display: inline !important;
  }
}

/* when plus button starts to hit search bar */
@media (max-width: 593px) {

  .fullTitle {
    display: none !important;
  }

  .singleLetter {
    display: inline !important;
    left: -32px;
  }

  .search-bar {
    width: 57% !important;
    margin-left: 70px !important;
  }

  .hamburgerDropdown {
    left: 11px !important;
  }

  .permBar {
    display: none;
  }
}

/* when plus button starts to hit search bar */
/* everything under 439px  */
@media (max-width: 439px) {
  .fullTitle {
    display: none !important;
  }

  .singleLetter {
    display: inline !important;
  }

  .search-bar {
    display: none;
  }

  .searchPlaceHolder, .uploadButton {
    display: block !important;
  }

}



/*@media (min-width: 320px) {*/
/*!* smartphones, iPhone, portrait 480x320 phones *!*/
/*input[name="searchValue"] {*/
/*background: pink;*/
/*}*/

/*}*/

/*@media (min-width: 481px) {*/
/*!* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. *!*/
/*input[name="searchValue"] {*/
/*background: yellow;*/
/*}*/

/*}*/

/*@media (min-width: 641px) {*/
/*!* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones *!*/
/*input[name="searchValue"] {*/
/*background: purple;*/
/*}*/

/*!*.postButton {*!*/
/*!*display:none !important;*!*/
/*!*}*!*/

/*}*/

/*@media (min-width: 961px) {*/
/*!* tablet, landscape iPad, lo-res laptops ands desktops *!*/
/*input[name="searchValue"] {*/
/*background: green;*/
/*}*/

/*}*/

/*@media (min-width: 1025px) {*/
/*!* big landscape tablets, laptops, and desktops *!*/
/*input[name="searchValue"] {*/
/*background: blue;*/
/*}*/

/*}*/

/*@media (min-width: 1281px) {*/
/*!* hi-res laptops and desktops *!*/
/*input[name="searchValue"] {*/
/*background: red;*/
/*}*/
/*}*/


.box {
  width: 80%;
}

.search-bar {
  width: 55%;
  position: relative;
  margin: 0 auto;
}

input[type="text"] {
  padding: 0 10px;
  border: 1px solid #BEBEBE;
  border-radius: 2px 0 0 2px;
  z-index: 2;
}

input:focus {
  border: 1.1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .4);
}

.searchButton {
  position: absolute;
  width: 14%;
  border: 1px solid #BEBEBE;
  border-left: 0;
  right: 0;
  border-radius: 0px 2px 2px 0;
  text-align: center;
  background-color: #f0f0f0;
  z-index: 1
}

.search-uploads-button {
  border: 1px solid #5b5a5a;
  z-index: 999999;
  background-color: #313131 !important;
}

.search-query-input {
  border: 1px solid #5b5a5a !important;
  color:white !important;
  background-color:#313131;
}

.search-query-input::placeholder { /* Most modern browsers support this now. */
  color: grey;
}

.search-uploads-button:hover i {
  opacity: .95;
  color: white;
}


.searchIcon {
  position: absolute;
  left: 44%;
  top: 29%;
  color: #a7a3a3;
}

.searchExpander, 
.uploadButton {
  position: absolute;
  top: 24px;
  right: 111px;
  font-size: 22px;
  color: grey;
}

.signInDiv {
  display: inline-block;
  border: 2px solid black;
  padding: 9px 23px;
  border-radius: 3px;
}

.signInAnchor {
  position: absolute;
  top: 13px;
  right: 10px;
}

.secondLine {
  margin-top: -54px !important;
  padding-left: 56px;
  background-color: #141414;
}

@media (max-width: 927px) {
  .diceIcon {
    visibility: hidden;
  }

}

.postButton {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.search-uploads-button {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.postButton:hover {
  background-color: #212121 !important;
}

.search-uploads-button:hover {
  background-color: #212121 !important;
}

/* nodetube.css */

@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.view-header {
    display: inline;
}

/* 70 : 39 aspect ratio */

.border-preview {
    border: 1px solid black;
}

.upload-title {
    height: 89px;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    width: 80%;
    margin: 0 auto;
}

.title-anchor:hover {
    text-decoration: none;
    color: red;
}

.title-anchor {
    text-decoration: none;
}

.upload-title-text {
    max-height: 53px;
    color: #bcbcbc;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 8px;
    overflow: hidden;

    font-weight: 300;
}

.upload-title-text:hover {
    text-decoration: none
    /*color:black;*/
}

.upload-user-text {
    color: #c7c7c7 !important;
    /*text-decoration:underline;*/
}

.upload-user-text:hover {
    color: black;
    /*text-decoration:underline;*/
}

.search-upload-buttons-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
}

@media (min-width: 480px) {
    .search-upload-buttons-container {
        grid-auto-flow: column;
    }
}

.twenty-six {
    font-size: 26px;
}

.upload-details {
    width: 90%;
    margin: 0 auto;
    margin-top: -12px;
}

.views {
    height: 30px;
    display: flex;
    display: -webkit-flex;
}

.views-text {
    font-size: 14px;
    text-align: center;
    margin: auto;
    color: rgba(0, 0, 0, 0.7);
}

.upload-file {
    margin-right: 167px;
    margin-bottom: 20px;
    width: 490px;
}

.change-size-button {
    display: inline-block;
    margin: 10px;
}

.unclicked-emoji img {
    opacity: 0.5;
}

/*.centerDropdown {*/
/*left: auto !important;*/
/*right: -25% !important;*/
/*}*/
/*.centerDropdown:after {*/
/*left: auto !important;*/
/*right: 45% !important;*/
/*}*/

.dropdown-menu > li > a {
    color: #333333;
}

.vjs-slider {
    height: 15px;
}

.plyr.plyr--video {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.plyr.plyr__video-wrapper {
    background: white;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 381px;
}

.body {
    background-color: #FAFAFA;
}

.preview-image {
    width: inherit;
    max-width: 405px;
    height: 210px;
    max-height: 210px;
    border-radius: 7px;
    max-width:100%;
    /*border:1px solid white;*/
}

/* translate thing to make it centered even with overflow*/
@media (max-width: 347px) {
    .preview-image {
        max-width: 280px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 900px) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
        margin-right: -95px;
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

@media (min-width: 1042px) {
    .navbar-right {
        margin-right: -28px;
    }
}

/*.dropdown-menu {*/
    /*min-width: 100px;*/
    /*max-width: 100px;*/
/*}*/


/*1046*/


@media (min-width: 900px) {
    .navbar-nav > li > a {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 942px) {
    .categoryDisplayName {
        text-align: center;
        margin-bottom: 30px;

    }
}

.fw {
    font-weight: 300;
}

.loginHeader {
    font-size:18px;
}

.navbar-default .navbar-nav > li > a {
    font-size:14px;
}


.dropdown-anchors {
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    transition: all 0.2s linear !important;
    color: white !important;
    font-weight:500 !important;
}

.dropdown-anchors:hover {
    color: #4da5f4 !important;
    background-color: transparent;
}

.brandName {
    font-size:19px;
}

/* Dark mode: */
.dark-mode {
    background-color: #141414 !important; //#1a1a1c; //rgba(11, 11, 12, 1); //#181817; //#292322; //rgb(40,44,52); rgb(33,37,43);
    color: darkgray !important;
}

/* Light mode: */
.light-mode {
    background-color: #fff !important; //#1a1a1c; //rgba(11, 11, 12, 1); //#181817; //#292322; //rgb(40,44,52); rgb(33,37,43);
    color: black !important;
}

/* changes the dark mode button to look like a link*/
.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    outline:none;
    /*optional*/
    /*font-family: arial, sans-serif;*/
    /*input has OS specific font-family*/
    /*color: #069;*/
    /*text-decoration: underline;*/
    cursor: pointer;
}

.headroom--pinned {
    display: block;
}

.headroom--unpinned {
    display: none;
}

.upload-thumbnail {
    display: block;
}

.image-container {
    display:inline-block;
    border:1px solid #5b5a5a;
    margin:0 auto;
    overflow:hidden;
    border-radius:13px;
}



.upload-thumbnail:hover {

    /*transform: scale(1.05) translate(0px, 30px);*/

    transform: scale(1.12);

    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

.upload-thumbnail {
    transition: transform .7s ease;
}

.holder {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    /*max-width:450px;*/
}

@media (max-width: 767px) {

    .holder {
        overflow: visible;
    }
}

.plyr.plyr--video {
    resize: both;

    /*0.2*/
    /*max-width: 97.5vw;*/
    /*max-height: 98vh;*/

    /*height: 82vh;*/

    /* 0.1 */
    /*width: 1409px;*/
    /*height: 799px;*/
}

@media (min-width: 900px) {
    .container {
        width: inherit
    }
}

@media (min-width: 1042px) {
    .container {
        width: inherit
    }
}

@media (min-width: 1200px) {
    .container {
        width: inherit
    }
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    /*font-weight:400;*/
}

.brandName {
    font-family: inherit;
}

.display-element {
    border-bottom: 1px solid #313131;

    /*TODO: this should be the height of the */
    /*max-height: 625px;*/

    /* turning off the border */
    /*border: 1px solid #5b5a5a;*/

}

.editFileButtons {
    margin-top: 30px;
}

/* anything below this width */
@media (min-width: 1250px) {
    body {
        zoom: 1.15;
    }

    /*.postButton {*/
    /*display: none !important;*/
    /*}*/
}

.h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Helvetica Neue', 'Inter', Arial, sans-serif !important;
}

body {
    font-family: 'Helvetica Neue', 'Inter', Arial, sans-serif !important;
}

/* END nodetube.css */

/* Global header */

.gheader{
  flex: 1 0 auto;
}

/* Global footer */
.gfooter {
  flex: 1 0 auto;
}
/* END Global footer */
