extends ../layout

block content
  h1 Upload notice
  section
    p Due to an ongoing DDOS attack, uploads are temporarily disabled as they are not working properly with the new DDOS protection
    p Should have a fix out shortly, thanks for your patience
